
<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513470939372-bd520e7d77db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80)">
    <%= image_tag("logo.png") %>
    <br>
  </div>


  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4 col-lg-6 col-sm-2">
        <div class="card-trip my-3">
          <img src="https://source.unsplash.com/1600x900/?drink,<%= cocktail.name %>" />
          <div class="card-trip-infos">
            <div>
              <h2 class=><%= cocktail.name %> <%= link_to content_tag(:i, "", class: ["fas fa-cocktail"]), cocktail_path(cocktail.id) %></h2>
              <% if cocktail.doses.first != nil %>
                <p><%= cocktail.doses.first.description %></p>
              <% else %>
                <p>Description not included</p>
              <% end %>
            </div>
            <h2 class="card-trip-rating"><%= render 'randomrating' %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <%= link_to "Add a new cocktail", new_cocktail_path, class: "text-center" %>

</div>
