
  <h1><%= @cocktail.name %></h1>

  <h2>Doses:</h2>
  <% @cocktail.doses.each do |dose| %>
    <ul>
    <li> Description: <%= dose.description %>  <%=  %> | Ingredeints: <%= dose.ingredient.name %>
      | Delete: <%= link_to content_tag(:i, "", class: ["fas fa-trash"]), dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure you want to delete?" } %>
    </li>
    </ul>
  <% end %>

  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

  <%= link_to "Back to homepage", cocktails_path %>
  <%= link_to "Add dose info", new_cocktail_dose_path(@cocktail) %>
